@import "tailwindcss";
@plugin "daisyui" {
  themes: lemonade --default;
}

body {
  background-color: var(--color-base-200);
}

[data-theme] {
  --color-primary: var(--color-base-300);
  --color-secondary: #479478;
}

#root {
  min-height: 100vh;
}